body {
    background-color: blueviolet;
}

#wrapperBox {
    width: 900px;
    height: 600px;
    background-color: azure;
    margin: 100px auto;

}

.movies {
    display: flex;
    flex-wrap: wrap;
}

.movies img {
    width: 30%;
    margin: 50px auto;
}