/* for moviequiz.html style */
body {
    background-color: #545a6b;
}

/* display the box inside quiz for a poster slide */
#wrapperBox {
    width: 90%;
    height: fit-content;
    background-color: #2d2830;
    margin: 5% auto;
    padding-top: 2%;
    z-index: -2;

}

/* output image of poster */
#movies {
    display: flex;
    flex-wrap: wrap;
}

#movies img {
    width: 25%;
    margin: 50px auto;
}

/* button next */
.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #c6978b;
    width: 30%;
    height: 80px;
    padding: 0.5% 1% 0.5% 1%;
    margin: 0 auto;
}

#numberCounter {
    color: #2d2830;
    font-size: 2.5em;
    font-weight: bold;
    padding-right: 15%;
}

.btn-next {
    border: none;
    outline: none;
    background-color: #2d2830;
    color: #cbbcb2;
    padding: 10px 15px 10px 15px;
    font-size: 2.5em;
    margin: 0 20px 0 20px;
}

#questions {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

.boxQ {
    background-color: #c6978b;
    font-size: 2.5em;
    padding: 2%;
}

.box {
    font-size: 2.5em;
    background-color: #cbbcb2;
    color: #2d2830;
    margin: 12px auto;
    padding: 1%;
    cursor: pointer;

}
#displayName {
    max-width: 90%;
    height: fit-content;
    font-size: 4em;
    text-align: center;
    padding-top: 2%;
    background-color: #cbbcb2;
    color: #2d2830;
    margin: 0 auto;
    padding: 2%;
}

#colorName {
    color: #044555;
}

/* Overlay enter Username */
.btn {
    width: 400px;
    font-size: 2em;
    text-align: center;
    background-color: #2d2830;
    color: aliceblue;
    padding: 20px;
    margin-top: 5%;
    cursor: pointer;
}

.btn:hover {
    cursor: pointer;
}

.btn[disabled]:hover {
    cursor: not-allowed;
}


#hidden {
    z-index: 2;
    width: 100%;
    height: 150%;
    background-color: #545a6b;
    margin: 0;
    position: absolute;
    color: azure;
}

#EnterBox {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    margin: 0 auto;
    background-color: #cbbcb2;
    color: #2d2830;
    font-size: 2.5em;
}

#results {
    width: 70%;
    height: 90%;
    background-color: palevioletred;
    z-index: 4;
    position: absolute;
    margin: 0 15% 0 15%;
    font-size: 5em;
    text-align: center;
    visibility: hidden;
}

#results .btnResult {
    display: flex;
    align-items: center;
    font-size: 0.5em;
    background-color: blue;
    color: beige;
    text-decoration: none;
    width: 20%;
    padding: 20px;
    margin: 450px auto;
    position: relative;
}

#answers {
    border: solid 2px Red;
    width: 900px;
    height: 120px;
    display: flex;
    align-items: center;
    margin: 200px auto;
    background-color: brown;
}

.incorrectAns.active {
    background-color: red;
}

.correctAns.active {
    background-color: greenyellow;
}

/* for index.html style */

#container {
    width: 800px;
    height: 600px;
    background-color: cornflowerblue;
    color: aliceblue;
    margin: 150px auto;
}

h1 {
    text-align: center;
    font-size: 2em;
    padding-top: 50px;
}

#textHead {
    font-size: 2em;
    padding-bottom: 50px;
}

form {
    margin: 50px auto;
}

#yourName {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    max-width: 5%;
    padding: 1%;
}

input {
    border: none;
    width: 50%;
    height: 70px;
    font-size: 1.5em;
    padding: 1%;
    margin-bottom: 50px;
}

.btnEnter {
    max-width: 100%;
    font-size: 1.6em;
    text-align: center;
    background-color: #2d2830;
    color: aliceblue;
    padding: 20px;
    margin-top: 5%;
    cursor: pointer;
}

.btnEnter:hover {
    cursor: pointer;
}

.btnEnter[disabled]:hover {
    cursor: not-allowed;
}

/* screen Desktop 24" (1900 x 1200) */
@media only screen and (max-width: 1920px) {
    #EnterBox {
        font-size: 2em;
    }
}

/* screen Desktop 22" (1680 x 1200) */
@media only screen and (max-width: 1680px) {
    #EnterBox {
        font-size: 1.7em;
    }

    .boxQ {
        font-size: 2em;
    }

    .box {
        font-size: 2em;
    }

    #displayName {
        font-size: 3em;
    }

    #numberCounter {
        font-size: 2em;
    }

    .btn-next {
        font-size: 2em;
    }
}

/* screen Desktop 19" (1440 x 900) */
@media only screen and (max-width: 1440px) {
    #EnterBox {
        font-size: 1.3em;
    }

    .boxQ {
        font-size: 1.5em;
    }

    .box {
        font-size: 1.5em;
    }

    #displayName {
        font-size: 2.5em;
    }

    /* button next */
    .buttons {
        padding: 0.1%;
    }

    #numberCounter {
        font-size: 1.5em;
    }

    .btn-next {
        font-size: 1.5em;
    }
}

/* screen Desktop 13" & 10" (1024 x 768) */
@media only screen and (max-width: 1440px) {
    #EnterBox {
        font-size: 1em;
    }

    #movies img {
        width: 35%;
    }
}

/* screen tablet devices  (800 x 768) */
@media only screen and (max-width: 1440px) {
    #hidden {
        height: 80%;
        padding-top: 30%;
    }

    #EnterBox {
        width: 70%;
        font-size: 1em;
    }

    #questions {
        width: 80%;
    }

    #movies img {
        width: 45%;
    }

    .boxQ {
        font-size: 1.7em;
    }

    .box {
        font-size: 1.7em;
    }

    /* button next */
    .buttons {
        width: 60%;
    }
}

/* screen mobile devices  ( 414 x 768) */
@media only screen and (max-width: 414px) {
    #hidden {
        height: 90%;
        padding-top: 30%;
    }

    #EnterBox {
        width: 80%;
        font-size: 0.8em;
    }

    #displayName {
        font-size: 1.6em;
    }

    #questions {
        width: 80%;
    }

    #movies img {
        width: 55%;
    }

    .boxQ {
        font-size: 1.3em;
    }

    .box {
        font-size: 1.3em;
    }

    /* button next */
    .buttons {
        width: 60%;
    }
}