body {
    background-color: blueviolet;
}

/* display the box inside quiz for a poster slide */
#wrapperBox {
    width: 900px;
    height: fit-content;
    background-color: azure;
    margin: 100px auto;

}

/* output image of poster */
#movies {
    display: flex;
    flex-wrap: wrap;
}

#movies img {
    width: 30%;
    margin: 50px auto;
}

/* button prev and next */
.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#numberCounter {
    color: blue;
    font-size: 1.5em;
    font-weight: bold;
}

.btn-prev,
.btn-next {
    border: none;
    outline: none;
    background-color: dimgrey;
    color: aliceblue;
    padding: 10px;
    font-size: 1.5em;
}

.texts {
    font-size: 1.5em;
    background-color: blue;
    color: aliceblue;
    text-align: center;
    margin-bottom: 5px;
}